<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">


<h:head>
	<title>VatPixels</title>

</h:head>

<h:body>
	<h:form>
		<h:panelGroup rendered="#{not gl.logedin}">
			<input type="button" onclick="location.href='#{gl.link}';"
				value="Login" />
		</h:panelGroup>
		<h:panelGroup rendered="#{gl.logedin}">
		<h1>Welcome</h1>
		<img src="#{gl.imageLink}"></img>
		</h:panelGroup>
	</h:form>

</h:body>


</html>
